body {
    background: rgb(245, 243, 243);
}


.gameboard {
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 100px;
    background: black;
    grid-gap: 5px;
}

.boardSquare {
    height: 100px;
    background: rgb(245, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


.playerTitle {
    font-size: 30px;
    padding: 10px;
}

.winner {
    font-size: 50px;
    padding: 10px;
}

.buttonWrapper {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button {
    padding: 10px;
    border: solid grey 1px;
    border-radius: 5px;
}