

body {
    padding: 0px;
    margin: 0px;
    background: rgb(159, 165, 170);
}

.title {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

h1 {
    padding: 5px;
    margin: 0px;
}



.gameboard {
   
    padding-top: 20px;
    border-radius: 5px;
    width: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
 

}

.boardSquare {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: rgb(218, 215, 215);
    z-index: 40;
}


.playerTitle {
    font-size: 30px;
    padding: 10px;
}

.winner {
    font-size: 50px;
    padding: 10px;
}

.buttonWrapper {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button {
    padding: 30px;
    border: solid grey 1px;
    border-radius: 10px;
    font-size: 30px;
    background: rgb(42, 129, 42);
}

.player {
    display: none;
    width:150px;
    height:100px;
    border: solid black 2px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30px;


}

.currentPlayer {
    background: rgb(38, 100, 158);
}

.players {
    margin: 0 auto;
    display: flex;
    width: 400px;
    justify-content: space-between;

}